.bg-color-web-primary {
    background-color: #264653;
}

.bg-color-web-secondary {
    background-color: #2A9D8F;
}

.bg-color-web-danger {
    background-color: #E76F51;
}

.bg-color-web-warning {
    background-color: #E9C46A;
}

.page-footer {
    padding-top: 0 !important;
}

.page-footer .footer-copyright {
    background-color: #264653;
}

.mb-3 {
    margin-bottom: 30px;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #424242;
    border-bottom: 2px solid #424242;
}

/* label color */
.input-field label {
  color: #424242;
}